<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
</head>
<body>
    <!-- dynamically fill with mongo db later -->
    <h1>{{ project_name }}</h1>
    <p>Description: {{ project_description }}</p>
    <a href="{{ template_repo_url }}" target="_blank">View the template on GitHub</a>
    <a href="/user/repos/{{ project_name }}/showchat" class="button">Talk to TA</a>

</body>
</html>