<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="overview.css">
    <title>Overview</title>
</head>
<body>
    <h1>Overview</h1>
    <div id="container">
        <div id="repo-1">
            <a href="https://github.com/seblau/BlackJack-Simulator" id="blackjack-aref">Black Jack Simulator</a>
            <br>
            <p id="not-complete">Not complete</p>
        </div>
        <div id="repo-2">
            <a href="https://github.com/salesforce/tough-cookie" id="tough-cookie-aref">tough-cookie</a>
            <br>
            <p id="complete">Completed</p>
        </div>
        <div id="repo-3">
            <a href="https://github.com/tinygrad/tinygrad" id="tinygrad-aref">tinygrad</a>
            <br>
            <p id="not-complete">Not complete</p>
        </div>
        <div id="repo-4">
            <a href="https://github.com/serde-rs/json" id="json-aref">json</a>
            <br>
            <p id="not-complete">Not complete</p>
        </div>
    </div>
</body>
</html>