<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user_home.css">
    <title>Navigation</title>
</head>
<body>
    <h1>Welcome</h1>
    <div id="container">
        <a href="/user/repos" class="button">Repos</a>
        <!-- <button id="my-repositories" onclick="window.location.href = '/user/repos'">Your Repositories</button> -->
        <br>
        <br>
        <a href="/user/overview" class="button" id="overview">Overview</a>
        <!-- <button id="overview" onclick="window.location.href = '/user/overview'">Overview</button> -->
        <br>
        <br>
        <a href="/user/explore" class="button" id="explore">Explore</a>
        <!-- <button id="explore" onclick="window.location.href = '/user/explore'">Explore</button> -->
    </div>
</body>
</html>
