<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
</head>
<body>
    <!-- dynamically fill with mongo db later -->
    <h1>Repositories</h1>
    <ul>
    {% for repo in repos %}
        <li><a href="/user/repos/{{ repo.project_name }}" target="_blank">{{ repo.project_name }}</a></li>
    {% endfor %}
    </ul>
    <h1>Contribute</h1>
    <a href="/user/createrepo" class="button">Create Guided Repo</a>

</body>
</html>